div {
    width: 300px;
    height: 300px;
    border-radius: 50% 20% / 10% 40%;
    /*上左 上右 下右 下左的X軸 / 上左 上右 下右 下左的Y軸*/
    /*這裡是50%(上左下右X軸) 20%(上右下左X軸) / 10%(上左下右Y軸) 40%(上右下左Y軸)*/
    background: gray;
}