p{
    color: red;/*相同權重後面css會覆蓋掉前面css*/
}
.p3{
    color: blue; /*標籤權重1分，class權重10分*/
}
.p5 p{
    color: gray; /*class+標籤權重11分*/
}
.p6 .pp6 p{
    color: chartreuse;/*21分*/
}
#hi{    /*id用法100分，只會有一個*/
    color: chocolate;
    font-size: 30px;
}
.p8{
    color: cornflowerblue !important;/*important 1萬分*/
    font-size: 30px !important;
}